body {

  margin: 20px;
  height:100%; 
  font-family: monospace;
  font-size: medium;
  
  align-items: center;
  background-color: black;
  color: white;
  justify-content:center;

  display:flex;

}


.wrapper {

  padding:40px;
  width:528px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  gap:20px;
  border-style:solid;
  border-color:DarkGray;
  background-color:Black;

}

.wrapper img {
  max-width:100%;
  height:auto;

}

.badges {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-content: center;
}



.wrapper hr {
  width: 100%;
  align-self: stretch;
  border: none;
  border-top: 1px solid #ccc;
}


header {
  margin:none;
}

footer {
 margin:0;
 padding:0;
 border: solid DarkGray;
 text-align:center;
}

a{
  color: LightGray;
  text-decoration:none;
}


a:hover {
  color: white;
}


a:active {
  color: white;
}

summary {
  font-size:large;
}

#bg {
  position:fixed;
  inset:0;
  z-index:-1;
}
