html, body {

  margin: 50;
  height:100%;
}


body {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content:center;
}

.content {
 width:400px;
 padding:20px;
}


