html, body {

  margin: 20px;
  height:100%;
  font-family: monospace;
  font-size: large;
  
  align-items: center;
  background-color: black;
  color: white;
  justify-content:center;

  display:flex;
  justify-content:center;
  align-items:center;
}


.wrapper {

  padding:40px;
  width:500px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  gap:20px;

}

header {
  margin:0;
}

.content {
 width:400px;
 padding:20px;
}


