body {
  min-height: 100dvh;
  margin: 20px;
  height:100%;
  font-family: monospace;
  font-size: large;
  
  align-items: center;
  background-color: black;
  color: white;
  justify-content:center;

  display:flex;

}


.wrapper {

  padding:40px;
  width:500px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  gap:20px;

}

header {
  margin:0;
}

footer {
  margin-top: auto;
  padding: 1rem;

  position: fixed;
  bottom:0;
  left:0;
  text-align:center;
  width:100%;

  font-size: medium;
}

.content {
 width:400px;
 padding:20px;
}


