---
import Layout from '../layouts/Layout.astro';
---
<Layout>

  <p style='font-size:xx-large;'>
  Can't find this one...</p>
  <p style='font-size:large;'>
  Check you typed in the address right, or just go <a href='/'>home</a>.
  </p>
  <p><br />
  <pre style="font-size:large;">
 ______________________
  404: Page not found! 
 ----------------------
  \
   \   \_\_    _/_/
    \      \__/
           (oo)\_______
           (__)\       )\/\
               ||----w |
               ||     ||

  </pre>
  </p>

</Layout>
