---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p style='font-size:xx-large;'>about. </p>
  <p>
  Hey, I'm <b>srsxnsh</b>, a high school student from the East of England.
  I enjoy most things tech-related, and amongst other things, am working on a few web projects, some homelab stuff, and an operating system shell.
  
  </p>

  <p style='font-size:large;'>Some things i like are:</p>

  <div id='details'>

  <details>
    <summary>Linux!</summary>
    <p>I love my riced hyprland and my debian servers. Down with Microslop etc.</p>
  </details>

  <details>
    <summary>Programming</summary>
    <p>While i'm less into webdev (as you can probably tell by the quality of this site),
    I like C, Python, and the occasional bit of JS for web servers.
    </p>
  </details>

  <details>
    <summary>Reading</summary>
    <p>I absolutely adore the <a target='blank' href='https://en.wikipedia.org/wiki/Divine_Comedy'>Divine Comedy</a>, 
    it is the greatest thing ever written.
    I like to mostly read classical texts, the 
    <a target='_blank' href='https://en.wikipedia.org/wiki/The_Horus_Heresy'>Horus Heresy</a> 
    series, and books about the history of computing.
    I am currently reading 'Unix: A History and a Memoir' by 
    <a target='_blank' href="https://en.wikipedia.org/wiki/Brian_Kernighan">Brian Kerningham</a>.

    </p>
  </details>

  <details>
    <summary>Games</summary>
    <p>Mostly of the indie variety.
    I like a wide range, stuff like ULTRAKILL, Omori, HK, Silksong, Dead Cells, Geometry Dash, Void War, the Hades games, and Slay the Spire.</p>
  </details>

  <details>
    <summary>Homelab / Hardware</summary>
    <p>I built my first PC at 14. I am currently building out my homelab setup too, you can find out more in <a href="/stuff">/stuff</a>. </p>
  </details>

  </div>

  <p>One day I hope to self host every single service that I use. (Getting there!)</p>
</Layout>
