---
import Layout from '../layouts/Layout.astro';
import Badges from '../components/Badges.astro'
---

<Layout>
  <p style='font-size:xx-large;'>links. </p>
  <p>-to various cool sites, people, and orgs. </p>
  <p>
  
  </p>
  <Badges />
</Layout>
