---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p style='font-size:xx-large;'>blog. </p>
  <p>This page is under construction. I will be building a custom rss / atom feed here in the future. </p>
  <p>
  
  </p>
</Layout>
