---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p style='font-size:xx-large;'>contact. </p>
  <p style='justify-text:center;font-size:medium;'>
  How you would get in touch with me, for whatever reason.
  </p> <br />
  <div style='text-align:center;font-size:medium;'>

  <p><i class='fa-solid fa-envelope'/> me@srsxnsh.xyz / srsxnsh@proton.me</p>

  <p><i class='fa-brands fa-github'/> <a href='https://github.com/srsxnsh'>srsxnsh</a></p>
    
  <p><i class='fa-solid fa-message' /> IRC: srsxnsh (libera) </p>
  
  <p><i class='fa-brands fa-discord' /> occulii </p>





  </div>
</Layout>
