---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p style='font-size:xx-large;'>hi. </p>
  <p style='font-size:x-large;'>This is my own personal website- feel free to have a look around.</p>
  <p style='font-size:medium;'>The site has lots of hidden things and easter eggs, see if you can find <a href='/shh'>any</a>. </p>
</Layout>
