---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p> hi muy very cool yes yes yes yes yes yes yes yes yes yes yes yes yy yes yes yes yes yes yes yes yes yes yes yes yes yes yes</p>
  <p> here is some content haha </p>
</Layout>
