---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p style='font-size:xx-large;'>heading </p>
  <p style='font-size:x-large;'> smaller heading </p>
  <p> wrap test hi muy very cool yes yes yes yes yes yes yes yes yes yes yes yes yy yes yes yes yes yes yes yes yes yes yes yes yes yes yes</p>
  <p> here is some content haha </p>
</Layout>
