---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p style='font-size:xx-large;'>stuff. </p>
  <p>
  stuff page 
  </p>

  <details>
    <summary>Projects </summary>
    <p style='font-size:medium;'> 
      projects
    </p>
  </details>

  <details>
    <summary>Hardware </summary>
    <p style='font-size:medium;'> 

    </p>
  </details>

  <details>
    <summary>Software </summary>
    <p style='font-size:medium;'> 

    </p>
  </details>

  <details>
    <summary>Homelab </summary>
    <p style='font-size:medium;'> 

    </p>
  </details>

</Layout>
