---
import Badge from '../components/Badge.astro';
---


<p>yooo badges and stuff</p>


<Badge
    src="/badges/arch.gif"
		title="Arch btw"
		href="https://archlinux.org"
    />

<Badge
    src="/badges/aol-sucks.gif"
		title="get a real isp"
    href="/"
  />

<Badge
    src="/badges/affection.gif"
		title="made with afftection"
    href="/"
  />

  <Badge
    src="/badges/anythingbut.gif"
		title="we ALL hate chrome"
    href="/"
  />

  <Badge
    src="/badges/explorer.gif"
		title="the internet exploder"
    href="/"
  />

  <Badge
    src="/badges/github.gif"
		title="github is love github is life"
    href="https://github.com"
  />

  <Badge
    src="/badges/gnu-linux.gif"
    title="linux <333"
    href="https://github.com/torvalds/linux"
  />

  <Badge
    src="/badges/graphicdesign.gif"
		title="my passion"
    href="/"
    />

  <Badge
    src="/badges/hackclub.gif"
		title="hack club epico"
    href="https://hack.club"
  />

  <Badge
    src="/badges/internetarchive.gif"
		title="internet archive yipee"
    href="/"
  />

  <Badge
    src="/badges/ircworks.gif"
		title="i am on irc!!!"
    href="/contact"
  />

  <Badge
    src="/badges/xkcd.gif"
		title="xkcd webcomic"
    href="https://xkcd.com"
    />

  <Badge
    src="/badges/wikipedia2.gif"
		title="donate to wikipedia"
    href="https://wikipedia.org"
  />

  <Badge
    src="/badges/vivaldi.gif"
		title="i use vivaldi btw"
    href="https://vivaldi.com"
    />

  <Badge
    src="/badges/visitmini.gif"
		title="linux"
    href="/"
  />

  <Badge
    src="/badges/vim.vialle.love.anim.gif"
		title="vim"
    href="https://www.vim.org"
    />

  <Badge
    src="/badges/typhrakromer.gif"
		title="KOMER KROMER KROMER"
    href="/"
    />

  <Badge
    src="/badges/newlambda.gif"
		title="hl3 when"
    href="/"
    />

  <Badge
    src="/badges/newgrounds.gif"
		title="find cool games and music"
    href="https://newgrounds.com"
    />

  <Badge
    src="/badges/neovim.gif"
		title="NEOVIM LOVE NEOVIM LIFE"
    href="https://neovim.io"
  />

  <Badge
    src="/badges/mysterysite.gif"
		title="CLICKME"
    href="/lol"
  />

  <Badge
    src="/badges/microsoft_stop.gif"
		title="down with micro slop"
    href="/"
  />



