---

const splashlist = ['hi','cool splash huh', 'omarchy sucks and is bloat, realistically.', 'neovim <333'];
const splash = splashlist[Math.floor(Math.random() * splashlist.length)];

---


<footer> 
  <p> {splash}</p>
  <p> 
  <a href='https://github.com/srsxnsh' target='_blank'>github</a> |
  <a href='https://list.srsxnsh.xyz' target='_blank'>demons</a>
  </p>
</footer>
