---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Badges from '../components/Badges.astro';

import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width resizes-content initial-scale=1.0" /> 
    <meta name="description" content="cool ass site smh">
		<title>srsxnsh</title>
	</head>


  <body>
    <div class='wrapper'>
      <Header />
      <hr />

      <main id = "content">
        
        <div>
          <p style='font-size:xxx-large;'> srsxnsh. </p>

          <slot />

        </div>

      </main>
      <br />
      <hr />
      <Badges />

      <Footer />
    </div>
  </body>

</html>
